* {
    box-sizing: border-box;
    margin: auto
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    flex-direction: column;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    min-height: 50px;
    
}

.header {
    width: 1600px;
    min-height: 200px;
    background-image: linear-gradient(180deg,#cf7aa2, rgba(219, 24, 237, 0) 100%);
    display: block;
    unicode-bidi: isolate;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 75px;
    padding-top: 40px;
    padding-right: 65px;
}

.navigation_list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.navigation_link {
    position: relative;
    padding: 0 20px;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    color: #000000;
}

.navigation_link:hover{
    color: #f5e6ed;
}

.main {
    margin-bottom: auto;
}
.main_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section {
    width: 50%;
    padding: 20px;
    padding-bottom: 40px;
  }


.section_profile{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 30px 35px;
}

.section_profile_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;  
}

.contact_information_list{
    list-style: none;
}

.contact_information_link{
    text-decoration: none;
    color: #000000;
}

.contact_information_link:hover{
    color: #860642;
}

.footer{
    width: 1600px;
    min-height: 200px;
    text-align: center;
    background-image: linear-gradient(0deg,#cf7aa2, rgba(219,24,237,0) 100%);
}
.footer_list{
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    gap: 100px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    justify-content: center;
    list-style: none;
}
